h1, h2, p, div{
    margin: 0;
}
.page{
    background-color: rgb(225, 223, 223);
}
.header{
    text-align: center;
    font-family: "Helvetica";
    width: 100%;
    padding: 20px 0;
    background-color: white;
}
.content{
    background-color: white;
    display: block;
    margin: 70px auto;
    width: 50%;
}
.content-header{
    padding: 20px 20px;
    border-bottom: solid rgb(200, 200, 200);
    font-family: "Helvetica";
}
.content-image{
    box-sizing: content-box;
    width: 100%;
    max-height: 500px;
    justify-content: center;
}
.content-text{
    padding: 10px 20px;
    font-size: 20px;
}
.footer{
    margin: 20px auto;
}